{% extends 'admin/_base.html' %}

{%block content%}
    <h1 class="h3 mb-4 text-gray-800">Editar Tag</h1>

    {% if error %}
        <div class="alert alert-warning" role="alert">
            {{ error }}
    {% endif %}

    <form method="post" action="{{ url_for('tag_edit', tag_id = object.id) }}" autocomplete="off" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="tag" class="form-label">Nome da Tag:</label>
            <input type="text" class="form-control" id="tag" name="tag" value="{% if object %}{{ object.tag }}{% endif %}" required autofocus>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{{ url_for('tag_list') }}" class="btn btn-info">Cancelar</a>
{% endblock %}