<aside class="sidebar" id="sidebar">
    <!-- Sidebar Brand -->
    <a class="sidebar-brand" href="/admin">
        <div class="sidebar-brand-icon">
            <i class="fas fa-cube"></i>
        </div>
        <div class="sidebar-brand-text">ERP Do Landin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Navigation -->
    <ul class="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboards</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <li class="nav-item">
            <a class="nav-link" href="#" data-bs-target="#collapseMenu" aria-expanded="true">
                <i class="fas fa-fw fa-cog"></i>
                <span>Gerenciamento</span>
            </a>
            <div id="collapseMenu" class="collapse show">
                <a class="collapse-item" href="/admin/produto/list">
                    <i class="bi bi-box-seam"></i> Produtos
                </a>
                <a class="collapse-item" href="/admin/cliente/list">
                    <i class="bi bi-people"></i> Clientes
                </a>
                <a class="collapse-item" href="/admin/categoria_produto/list">
                    <i class="bi bi-tags"></i> Categorias
                </a>
                <a class="collapse-item" href="/admin/funcionario/list">
                    <i class="bi bi-person-badge"></i> Funcionários
                </a>
                <a class="collapse-item" href="/admin/fornecedor/list">
                    <i class="bi bi-truck"></i> Fornecedores
                </a>
                <a class="collapse-item" href="/admin/compra/list">
                    <i class="bi bi-cart"></i> Compras
                </a>
                <a class="collapse-item" href="/admin/pedido/list">
                    <i class="bi bi-receipt"></i> Pedidos
                </a>
            </div>
        </li>
    </ul>

    <!-- Sidebar Toggle (Desktop) -->
    <button class="sidebar-toggle d-none d-md-block" id="sidebarToggle">
        <i class="fas fa-angle-left"></i>
    </button>
</aside>